<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.idwell.cloudframe"
    coreApp="true"
    android:sharedUserId="android.uid.system"
    >
    <!--    coreApp="true"-->
    <!--    android:sharedUserId="android.uid.system"-->
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.OVERRIDE_WIFI_CONFIG" />
    <uses-permission android:name="android.permission.SET_TIME" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.SHUTDOWN" />
    <uses-permission android:name="android.permission.MASTER_CLEAR" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" /> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" /> <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">

        <!-- 消息接收监听器 （用户可自主扩展） -->
        <receiver
            android:name=".receiver.MyMessageReceiver"
            android:exported="false"> <!-- 为保证receiver安全，建议设置不可导出，如需对其他应用开放可通过android：permission进行限制 -->
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>

        <!--<activity
            android:name=".ui.WelcomeActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.GuideActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MusicActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.VideoActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.VideoViewActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.CalendarActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.ClockActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.ClockSkinActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.AlarmActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />

        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.RingActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".ui.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.PCControlActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.SystemActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.PhotoActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.SlideActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/TransparentTheme" />
        <activity
            android:name=".ui.WeatherActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.SearchCityActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".ui.UserManageActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/TranslucentTheme" />

        <receiver android:name=".receiver.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.idwell.cloudframe.action.SIGN_IN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.AlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.idwell.cloudframe.action.Alarm" />
                <action android:name="com.idwell.cloudframe.action.AutoOn" />
                <action android:name="com.idwell.cloudframe.action.AutoOff" />
            </intent-filter>
        </receiver>

        <service android:name=".service.MessageService" />
        <service android:name=".service.FtpService" />
        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserServiceCompat" />
            </intent-filter>
        </service>
        <service android:name=".service.GlobalService" />
        <service android:name=".service.NavigationService" />
        <service
            android:name=".service.UploadFileService"
            android:process=":upload_log" />

    </application>

</manifest>